[{:date     "2022-01-28"
  :source   "posts/2022-01-28-objects-as-closures.md"
  :title    "Objects as Closures"
  :path     "posts/objects-as-closures.html"
  :template :post}
 {:date     "2017-02-22"
  :source   "posts/2017-02-22-turning-20-in-the-age-of-uncertainty.md"
  :title    "Turning 20 in the Age of Uncertainty"
  :path     "posts/turning-20-in-the-age-of-uncertainty.html"
  :template :post}
 {:date     "2017-02-17"
  :source   "posts/2017-02-17-dont-get-bored.md"
  :title    "Dont get Bored"
  :path     "posts/dont-get-bored.html"
  :template :post}
 {:date     "2022-01-28"
  :source   "posts/2022-01-28-subtyping-and-inheritance.md"
  :title    "Subtyping and Inheritance"
  :path     "posts/subtyping-and-inheritance.html"
  :template :post}
 {:date     "2022-03-08"
  :source   "posts/2022-03-08-predicate-set-duality.md"
  :title    "Predicate-set duality theory"
  :path     "posts/predicate-set-duality.html"
  :template :post}
 ]