@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }
  body {
    font-family: Consolas, monaco, monospace, Helvetica, Arial;
    font-size: 18px;
  }
  p {
    @apply my-2;
  }
  a {
    @apply border-b-2;
    @apply border-gray-500;
  }
}